# CMake 构建输出
build/
cmake-build-*/

# Qt Creator / Qt Design Studio 用户配置
CMakeLists.txt.user
CMakeLists.txt.user.*
CMakeLists.txt.shared
MotolControlQml.qmlproject.qtds
.qtcreator/
*.autosave

# Qt 编译生成文件
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qm
*.qmlc
*.jsc

# 编译产物
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.a
*.lib
*.pdb

# 自动生成的资源目录（用于存放导入的 3D 资源）
Generated/

# Windows 系统文件
Thumbs.db
